body {
font-family: "Raleway", sans-serif;
display: flex;
margin: 0 auto;
justify-content: center;
}

.title, .author {
    font-family: "Mitr", sans-serif;
}

.title {
    font-size: 36px;
}

p {
    font-size: 22px;
}

.author {
    text-align: right;
    font-size: 18px;
}
